body {font-family: Arial, sans-serif; text-align: center; margin: 20px; background-color: lavender;}

h1 {color: purple; font-size: 32px}

h2 {color: purple; font-size: 24px; margin: 12px;}

p {font-size: 18px; line-height: 1.6}

li {font-size: 18px; margin: 8px;}

ul {display: inline-block; text-align: left;}

img {width: 300px; border-radius: 15px; border: 4px solid purple;}

.container {background-color: white; padding: 30px; border-radius: 20px; max-width: 700px; margin: auto;}

button {background-color: purple; color: white; padding: 12px 20px; border: none; border-radius: 10px; font-size: 16px;}

button:hover {background-color: darkviolet;}

footer {margin-top: 30px; padding: 15px; color: purple; font-size: 14px;}

a {color: purple; font-size: 18px; text-decoration: none; font-weight: bold;}

.social-links a {display: block; margin: 12px auto; background-color: lavender; padding: 10px; border-radius: 10px; max-width: 250px;}
.social-link a:hover {background-color: purple; color: white;}